---
import { Controller } from '../controller';
---

<h1>BCC Protégé Variants</h1>
		
<div>
    <h2>What constitutes a variant?</h2>
    <p>The primary goal when determining variants was to make classifications based on what an average player would readily identify as 'different'. This means that a chipper may identify discrepancies within a variant. These variant-local discrepancies manifest primarily in the following ways: 
    <ul>
        <li>Minor inconsistencies in the color of the clay</li>
        <li><a href={Controller.linkImage('2dollar_inlay.jpg')}>Varying print quality in the inlay</a></li>
        <li>Minor inconsistencies of inlay shape</li>
    </ul>
    </p>
    
    <p>Any deviation from standard sizing also constitutes a new variant, regardless of the other characteristics. The most obvious manifestation of this is <a href={Controller.linkImage('5dollar_v1_vs_v4.jpg')}>diameter discrepancies</a>. There also exist examples of deviations in chip thickness which mandate 67.7mm racks. While the average player probably would not notice either problem, it is presumed that a chipper may consider size variants to be 'error' chips, and therefore a dedicated variant was determined necessary.</p>
    
    <p>The colors referenced in the table below are approximately relative to each other. They are not meant as references to official BCC color names.</p>
</div>
