---
import { Controller } from '../controller';
---

<h1>BCC Protégé Variants</h1>
		
<div>
    <h2>What constitutes a variant?</h2>
    <p>
        The primary goal when determining variants was to make classifications based on what an average player could readily identify as 'different'. As a result, a chipper may further identify discrepancies within a variant, but these will be relatively minor. Buttons and plaques follow a similar protocol for identifying variants (although the concept is far less relevant there). Any deviation from standard sizing also constitutes a new variant, regardless of the other characteristics.
        <h3>Variant-inducing factors:</h3>
        <ul>
            <li>Large discrepancies in clay colors, and which are basically consistent across many chips</li>
            <li>Differences with inlay font size and/or color</li>
            <li>Inlay 'size' - the preceived area consumed by the inlay's graphic and/or text elements</li>
            <li><a href={Controller.linkImage('5dollar_v1_vs_v4.jpg')}>Chip diameter discrepancies</a></li>
            <li>Slight increase in chip thickness which mandate 67.7mm racks.</li>
        </ul>

        <h3>Variant-local factors:</h3>
        <ul>
            <li>Minor discrepancies in clay colors</li>
            <li><a href={Controller.linkImage('2dollar_inlay.jpg')}>Varying print quality in the inlay</a></li>
        </ul>
    </p>
</div>
