---
import { Controller } from '../controller';
---

<h1>BCC Protégé Variants</h1>
		
<div>
    <h2>What constitutes a variant?</h2>
    <p>
        The primary goal when determining variants was to make classifications based on what an average player could readily identify as 'different'. As a result, a chipper may identify discrepancies within a variant, but these will be relatively minor. Buttons and plaques follow a similar protocol for identifying variants. 
        <h3>Major variant-inducing factors</h3>
        <ul>
            <li>Large discrepancies in clay colors, and which are basically consistent across many chips</li>
            <li>Inlay fonts</li>
            <li>Inlay font sizes</li>
            <li>Inlay font colors</li>
        </ul>

        <h3>Minor variant-local discrepancies</h3>
        <ul>
            <li>Inconsistencies in the color of the clay</li>
            <li><a href={Controller.linkImage('2dollar_inlay.jpg')}>Varying print quality in the inlay</a></li>
            <li>Inconsistencies of inlay shape</li>
        </ul>
    </p>
    
    <p>
        Any deviation from standard sizing also constitutes a new variant, regardless of the other characteristics. These manifest in the following ways:
        <ul>
            <li><a href={Controller.linkImage('5dollar_v1_vs_v4.jpg')}>Diameter discrepancies</a></li>
            <li>Slight increase in chip thickness which mandate 67.7mm racks.</li>
        </ul>
    </p>

    <p>
        The colors referenced in the table below are approximately relative to each other. They are not meant as references to official BCC color names.
    </p>
</div>
