---
interface Props {
    denominationCount: number;
    variantCount: number;
    buttonCount: number;
    plaqueCount: number;
}

const { denominationCount, variantCount, buttonCount, plaqueCount } = Astro.props;
---

<div>
    <h2>Info</h2>
    <ul>
        <li>Final design by William R. Coughlan (<code>Magus_23</code>).</li>
        <li>Design process was 'by committee' comprising of members from ChipTalk.net. The design process took approximately 9 months.</li>
        <li>Produced by Blue Chip Company for <a href='http://sidepot.com/'>Sidepot</a>.</li>
        <li>Features the Cigar & Snifter mold.</li>
        <li>Supplemental variants were produced a single time. All the primary chips had multiple production runs.</li>
        <li>The primary denominations produced with the supplementals are sometimes identifiable because of their inlay differences.</li>
        <li>Almost every variant will fit snugly in 66.7mm racks. Those requiring 67.7mm are noted.</li>
        <li>{denominationCount} chip denominations.</li>
        <li>{variantCount} known <a href="#chip_variants">chip variants.</a></li>
        <li>{buttonCount} known <a href="#button_variants">button variants.</a></li>
        <li>{plaqueCount} known <a href="#ceramic_plaque_variants">plaque variants.</a></li>
    </ul>
</div>