---
import { Rarity } from '../models';

interface Props {
    counts: number[];
}

const { counts } = Astro.props;
---

<div>
    <h2>Rarities</h2>
    <p>
        The rarity for a given variant is an estimate based on known collections and observed sales.
    </p>
    <div id='rarity_scale'>
        <div class='rarity_common'>
            <div class='rarity_title'>Common</div>
            <div class='detail'>{counts[Rarity.common]} variants</div>
        </div>
        <div class='rarity_uncommon'>
            <div class='rarity_title'>Uncommon</div>
            <div class='detail'>{counts[Rarity.uncommon]} variants</div>
        </div>
        <div class='rarity_rare'>
            <div class='rarity_title'>Rare</div>
            <div class='detail'>{counts[Rarity.rare]} variants</div>
        </div>
        <div class='rarity_legendary'>
            <div class='rarity_title'>Legendary</div>
            <div class='detail'>{counts[Rarity.legendary]} variants</div>
        </div>
    </div>
</div>

<style>
    #rarity_scale {
        display: flex;
        border: 2px solid black;
    }

    #rarity_scale .detail {
        font-size: 12px;
        padding: 5px;
    }

    #rarity_scale>div {
        text-align: center;
    }

    #rarity_scale .rarity_common {
        flex: 40%;
    }
    #rarity_scale .rarity_uncommon {
        flex: 30%;
    }
    #rarity_scale .rarity_rare {
        flex: 20%;
    }
    #rarity_scale .rarity_legendary {
        flex: 10%;
    }
</style>