<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>BCC Protégé Variants</title>
	<meta name="description" content="Blue Chip Company Protégé Variants">
	<meta name="author" content="Joe Harris at pokerchipforum.com">
	<meta name="robots" content="all">
	<meta name="generator" content="https://github.com/discobeetlesoftware/ProtegeVariantGallery/">
	<meta name="keywords" content="sidepot,protege,protégé,poker chip,bcc,blue chip company,variants,variation,plaque,dealer button,pokerchipforum,discobeetle">
	<meta name="theme-color" content="normal">
	<link rel="stylesheet" href="./include/main.css">
	<link rel="stylesheet" href="./include/lightbox.css">
    <style>
  	<% @themes.each do |theme| %>
	  tbody.<%= theme.key %> td:nth-child(1) { background-image: linear-gradient(to right, <%= theme.color %> 0%, <%= theme.color %> 5%, white 100%); }
  	<% end %>
  	</style>
</head>
<body>
	<div>
		<h1>Blue Chip Company Protégé Variants</h1>
		
		<div>
			<h2>What makes a variant?</h2>
			
			<p>The primary goal when determining variants was to make classifications based on what an average player would be able to identify as 'different'. This means that a chipper may identify discrepancies within a variant, but perhaps only when looking for them. This can manifest both in inconsistencies in the color of the clay, as well as varying print quality in the inlay.</p>
			
			<p>Any deviation from standard sizing also constitutes a new variant. This is primarily manifested in diameter discrepancies, but there are also less concerning deviations with thickness which require 67.7mm racks. While the average player probably would not notice either problem, it is presumed that a chipper looking for consistency within a set of these chips would find any variance of chip size to be a deal breaker. Happily, these types of error chips are relatively uncommon and not present in large quantities when encountered.</p>
			
			<p>The colors referenced in the table below are approximately relative to each other. They are not meant as references to official BCC color names.</p>
		</div>
		
		<div>
			<h2>Factoids</h2>
			<ul>
				<li>Final design by William R. Coughlan (<code>Magus_23</code>).</li>
				<li>Design process was a collaborative effort which took place on ChipTalk.net over approximately 9 months.</li>
				<li>Produced by Blue Chip Company for <a href='http://sidepot.com/'>Sidepot</a>.</li>
				<li>Features the Cigar & Snifter mold.</li>
				<li>Supplemental variants were produced a single time. All the primary chips had multiple production runs.</li>
				<li>The primary denominations produced with the supplementals are sometimes identifiable because of their inlay differences.</li>
				<li>Almost every variant will fit snugly in 66.7mm racks. Some require 67.7mm - those are noted.</li>
				<li><%= @chips.count %> chip denominations.</li>
				<li><%= @chipVariantCount %> known chip variants.</li>
			</ul>
			
			<div>
				<h2>Resources</h2>
				
				<ol>
					<li><a href="https://web.archive.org/web/20111026191803/http://www.buypokerchips.com/Protege-Clay-Poker-Chips-p/set-protege.htm">Archive of Sidepot purchase page</a></li>
					<li><a href = "https://web.archive.org/web/20111103013621/http://www.buypokerchips.com/Ceramic-Plaques-for-Poker-p/set-plaq-ptg.htm">Archive of Sidepot plaque purchase page</a></li>
					<li><a href="https://www.pokerchipforum.com/threads/the-prot%C3%A9g%C3%A9-thread.22963/">The Protégé Thread</a></li>
				</ol>
			</div>
		</div>
		
		<div>
			<h2>Contributors</h2>
			<ul>
				<li><a href="https://www.pokerchipforum.com/members/irish.114/">Irish</a> @ PokerChipForum</li>
				<li><a href="https://www.pokerchipforum.com/members/grantc54.1166/">grantc54</a> @ PokerChipForum</li>
				<li><a href="https://www.pokerchipforum.com/members/joe-harris.969/">Joe Harris</a> @ PokerChipForum</li>
			</ul>
		</div>
		
		<div id="lightbox" class="modal"><span class="close cursor" onclick="closeLightbox()">&times;</span>
			<div class="modal-content">
				<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
				<a class="next" onclick="plusSlides(1)">&#10095;</a>
				<% each_variant_image do |v, i| %>
				<div class="slide">
					<div class="slideIndex"><%= i %> / <%= @chipVariantCount + @accessoryVariantCount %></div>
					<%= v.lightbox_img_tag %>
				</div>				
			<% end %>
			
				<div class="caption-container">
					<p id="caption"></p>
				</div>
				
				<% each_variant_image do |v, i| %>
				<div class="column" style="display:none;"><%= v.lightbox_thumb_img_tag(i) %></div>
				<% end %>
			  </div>
		</div>
		
		<% count = 0 %>
		<div>
			<h2>Known Chip Variants</h2>
			<table>
			  	<% @chips.each do |variants| %>
			  	<%= header_if_needed(variants) %>
				<tbody class="<%= variants.first.theme.key %>">
				<% variants.each do |chip| %>
				  <tr id="<%= chip.anchor %>">
						<td><%= chip.denom %></td>
						<td><a href="https://discobeetlesoftware.github.io/ProtegeVariantGallery#<%= chip.anchor %>">v<%= chip.variant %></a></td>
						<td><%= chip.proof_img_tag %></td>
						<td><%= chip.variant_img_tag { count += 1 } %></td>
						<td><%= chip.group %></td>
						<td><%= chip.rarity %></td>
						<td><%= chip.notes %></td>
						<td><%= chip.clay_color_base %></td>
						<td><%= chip.clay_color_spot %></td>
						<td><%= chip.inlay_text_color %></td>
						<td><%= chip.inlay_text_size %></td>
						<td><%= chip.inlay_notes %></td>
					</tr>
			  <% end %>
			  </tbody>
			<% end %>
		    </table>
		</div>
		
		<div>
			<h2>Other Items</h2>
			<table>
				  <% @accessories.each do |variants| %>
				  	<%= header_if_needed(variants) %>
				  	<tbody class="<%= variants.first.theme.key %>">
				 	<% variants.each do |accessory| %>
					 <tr id="<%= accessory.anchor %>">
						<td><%= accessory.denom %></td>
						<td><a href="https://discobeetlesoftware.github.io/ProtegeVariantGallery#<%= accessory.anchor %>">v<%= accessory.variant %></a></td>
						<td><%= accessory.proof_img_tag %></td>
						<td><%= accessory.variant_img_tag { count += 1 } %></td>
						<td><%= accessory.origin %></td>
					</tr>
				<% end %>
				</tbody>
				<% end %>  
			  </table>
		</div>
		<script type="text/javascript" charset="utf8" src="./include/lightbox.js"></script>
		</body>
		</html>