<thead>
  <tr>
	<th rowspan="2">Denom</th>
	<th rowspan="2">Design</th>
	<th rowspan="2">Variant</th>
	<th rowspan="2">Image</th>
	<th rowspan="2">Group</th>
	<th rowspan="2">Rarity</th>
	<th colspan="3">Clay Color</th>
	<th colspan="3">Inlay Text</th>
  </tr>
  <tr>
	  <th>Base</th>
	  <th>Spot</th>
	  <th>Notes</th>
	  <th>Color</th>
	  <th>Size</th>
	  <th>Notes</th>
  </tr>
  </thead>